<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Flask App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <h2>Contact Us</h2>
    <div class="contacts">
      <p style="font-weight: 600;">{{ contact_info.name }}:</p>
      <p>{{ contact_info.address.street }}</p>
      <p>{{ contact_info.address.city }}</p>
      <p>{{ contact_info.address.zip }}</p>
    </div>
    {% if success %}
      <p style="color: green; margin-bottom: 20px;">Your message has been sent successfully!</p>
    {% endif %}
    {% if error %}
      <p style="color: red; margin-bottom: 20px;">{{ error }}</p>
    {% endif %}
    <form action="/submit" method="POST">
      <label for="name">Your Name:</label>
      <input type="text" id="name" name="name" value="{{ name or '' }}" required>

      <label for="email">Your Email:</label>
      <input type="text" id="email" name="email" value="{{ email or '' }}" required>

      <label for="message">Your Message:</label>
      <textarea type="text" id="message" name="message" required>{{ message or '' }}</textarea>

      <button type="submit">Send</button>
    </form>
{% endblock %}
</body>
</html>