<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Flask App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to My Flask App</h2>
    <p>Explore the website to learn more about us!</p>
    <img class="img" src="{{ url_for('static', filename='img/logo.png') }}" alt="Flask logo">
{% endblock %}
</body>
</html>